# For testing the project in place
notes.txt
zork.*
zork++.*
example/
example_project/
out/
gcm.cache/
github-example/
cached_mods/
compile_commands.json

# out/
.coverage
htmlcov/
*.xml

# Rust
target/

# Editors
.vscode
.vs
.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
