name: Code quality and sanity

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  clippy:
    name: Lint with Clippy
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings
    steps:
      - uses: actions/checkout@v3

      - name: Caching project dependencies
        id: project-cache
        uses: Swatinem/rust-cache@v2

      - uses: hecrj/setup-rust-action@v1
        with:
          components: clippy
      
      - name: Verifiying the code quality with Clippy 
        run: |
          cd zork++
          cargo clippy --all-targets --all-features
  
  rustfmt:
    name: Verify code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Caching project dependencies
        id: project-cache
        uses: Swatinem/rust-cache@v2

      - uses: hecrj/setup-rust-action@v1
        with:
          components: rustfmt
      
      - name: Checking the format sanity of the project
        run: |
          cd zork++
          cargo fmt --all -- --check

  tests:
    name: Run the tests for the projects
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Caching project dependencies
        id: project-cache
        uses: Swatinem/rust-cache@v2

      - name: Get the latest Clang version available
        run: |
          set -e  # Exit on error
          echo "-----> clang installation directory"
          which clang++
          echo "-----> clang binary version"
          clang++ --version
          
          echo "-----> installing Clang 15"
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo apt update
          
          echo "-----> Adding the LLVM repository for the version 15"
          sudo apt-add-repository "deb http://apt.llvm.org/bookworm/ llvm-toolchain-bookworm-15 main"
          
          echo "-----> Installing Clang 15"
          sudo apt install --install-suggests clang-15
          
          echo "-----> Installing libc++"
          sudo apt install libc++-15-dev libc++1-15 libc++abi1-15 libunwind-15 libunwind-15-dev
          
          echo "-----> Removing the symbolic link to the default version"
          sudo rm -f /usr/bin/clang++
          echo "-----> Creating the symbolic link to the new Clang 15 version"
          sudo ln -s /usr/bin/clang++-15 /usr/bin/clang++
          
          echo "-----> Clang-15 was installed on:"
          which clang-15
          echo "-----> Clang++ was installed on:"
          which clang++-15

      - name: Running the tests for the project
        run: |
          cd zork++
          RUST_BACKTRACE=1 RUST_LOG=trace cargo test 2>&1 --all --color=always --no-fail-fast -- --nocapture --show-output --test-threads=1
