name: Zork Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+rc[0-9]+'
    
jobs:
  generate-release-and-binaries:
    permissions:
      contents: write
    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Generate release ${{ steps.version.outputs.version }}
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/create-release@v1
        id: create-release
        with:
          draft: false
          prerelease: false
          release_name: ${{ steps.version.outputs.version }}
          tag_name: ${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Make enviromment Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install PyInstaller
        run: python -m pip install pyinstaller

      - name: Building Zork's exe with PyInstaller
        run: | 
          python -m PyInstaller ./zork/zork++.py --onefile --name zork++

      - name: Building the installer with Inno Setup
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          "%programfiles(x86)%\Inno Setup 6\iscc.exe" ".\release-config\windows-installer-zork.iss"
        shell: cmd

      - name: Make Zip for Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          7z a windows-installer.zip zork-installer.exe

      - name: Generate compressed file for Linux
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          tar -czvf zork-linux.tar.gz ./dist/zork++

      - name: Upload Windows artifact
        if: ${{ matrix.os == 'windows-latest' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: windows-installer.zip
          asset_name: windows-installer.zip
          asset_content_type: application/zip

      - name: Upload Linux artifact
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: zork-linux.tar.gz
          asset_name: zork-linux.tar.gz
          asset_content_type: application/tar+gzip